body {
    background-color: #00ff26;
    background-image: url("{% static 'car.png' %}");
    background-repeat: no-repeat;
    color: #fff;
}

body * {
    font-family: Ubuntu, sans-serif;  
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}
